


#single-result-container {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

#summary-container {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

#result-summary {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

#result-summary-inner {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}