
/* - Libraries - */
// @import "~bulma/css/bulma.css";
// @import "~katex/dist/katex.min.css";
// @import "~foundation-sites/scss/_global";
// @import "~foundation-sites/scss/foundation";
// @include foundation-everything(true);
@import "~bootstrap/scss/bootstrap";

/* - Custom Imports - */
@import "./results";
@import "./searchbar";
// @import "./search";


/* - Media Queries - */
// @include media-breakpoint-down(xs) {
  // PORTRAIT PHONES
// }

// @include media-breakpoint-down(sm) {
  // LANDSCAPE PHONES
// }

// @include media-breakpoint-down(md) {
  // TABLETS
// }

// @include media-breakpoint-down(lg) {
  // DESKTOPS
// }


/* - Global Styles - */
body {
  background-color: rgb(133, 148, 168);
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 22px;
}

li {
  list-style: none;
}

a {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}
