

/* - Libraries - */
// @import "~bulma/css/bulma.css";
// @import "~katex/dist/katex.min.css";
// @import "~bootstrap/scss/bootstrap";
@import "~foundation-sites/scss/_global";
@import "~foundation-sites/scss/foundation";
@include foundation-everything(true);

/* - Custom Imports - */
@import "./results";
@import "./search";


/* - Global Styles - */
body {
  height: 100vh;
  background-color: rgb(133, 148, 168);
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 22px;
}

li {
  list-style: none;
}

a {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}
